.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1232px;
}
.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 380px;
    padding: 4px;
}
.subConteiner{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media print{
    .conteiner{
      display: none !important;
      margin: 0 !important;
      padding: 0 !important;
    }
}