.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    animation: fadeIn 0.8s linear forwards;
    width: 100%;
}
.table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.line{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 380px;
    flex-wrap: nowrap;
    break-before: auto;
    break-inside: avoid;
}
.line h1{
    font-size: 14px;
    padding: 6px;
    text-align: center;
}
.boxHead{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 50px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-align: center;
    border: 1px solid;
}
.header span{
    font-size: 10px;
    text-wrap: nowrap;
}
.collum, .collum2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    border: 1px solid;
    resize: none;
    min-height: 90px;
    padding: 6px;
    background-color: var(--white);
    width: 120px;
}
.collum2{
    width: 47px;
}
.collum span::after{
    content: '';
    animation: loadingDots 1s steps(3, end) infinite;
}
.collum textarea, .collum2 textarea{
    width: 96%;
    height: 100%;
    border: none;
    resize: none;
    overflow-y: scroll;
    text-wrap: wrap;
}
.collum p, .collum2 p{
    border: none;
    width: 80%;
}
.collum2 select{
    border: none;
}
.addItem, .removeItem{
    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}
.addItem path{
    color: var(--blue);
}

.addItem:hover{
    background-color: var(--verde);
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}
.addItem:active{
    padding: 4px;
}

.removeItem path{
    color: red;
}

.removeItem:hover{
    background-color: var(--verde);
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}
.removeItem:active{
    padding: 4px;
}
.boxCheckIA{
    position: relative; 
    height: 30px; 
    display: flex; 
    flex-direction: row;
    align-items: center
}

/* custom */
.alingLeftText{
    text-align: left;
}
.width100{
    width: 100px;
}
.bgGreen{
    background-color: #9eb83b;
    margin-top: 20px;
    padding-left: 10px;
}

.widthAuto{
    width: 100% !important;
    max-width: 210px !important;
    min-width: 210px !important;
}

@keyframes loadingDots {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
    100% {
        content: '.';
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 499px) {
    .conteiner h1{
        margin-bottom: 0;
        margin-top: 16px;
    }
    .avatar{
        right: 10px;
    }
    .conteiner h2{
        font-size: 16px;
        padding: 6px;
    }
    .boxCheckIA{
        padding-left: 6px;
    }
}

@media print {
    .conteiner{
        z-index: 0;
        break-before: always;
        page-break-before: always;
        display: block;
        width: 100%;
    }
    .widthAuto{
        width: 100% !important;
        max-width: 180px !important;
        min-width: 180px !important;
    }
}