.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    animation: fadeIn 0.8s linear forwards;
    width: 100%;
}
.boxHead{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 50px;
}

.content{
    position: relative;
}
.table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-align: justify;
    border: 1px solid;
}
.header span{
    font-size: 11px;
}
.collum, .collum2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    border: 1px solid;
    resize: none;
    min-height: 90px;
    padding: 6px;
    background-color: var(--white);
    width: 120px;
}
.collum span::after{
    content: '';
    animation: loadingDots 1s steps(3, end) infinite;
}

.addItem {
    position: absolute;
    right: 10px;
    top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.addItem path{
    color: var(--blue);
}
.addItem  svg{
    font-size: 24px;
}
.addItem:hover{
    background-color: var(--verde);
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}
.addItem:active{
    padding: 4px;
}
.removeItem{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.removeItem path{
    color: red;
}
.removeItem  svg{
    font-size: 24px;
}
.removeItem:hover{
    background-color: var(--verde);
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}
.removeItem:active{
    padding: 4px;
}
.boxCheckIA{
    position: relative; 
    height: 30px; 
    display: flex; 
    flex-direction: row;
    align-items: center
}
/* custom */
.alingLeftText{
    text-align: left;
}
.width100{
    width: 100px;
}
.bgGreen{
    background-color: #9eb83b;
    margin-top: 20px;
    padding-left: 10px;
}
.line{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 380px;
    flex-wrap: wrap;
}
.line h1{
    font-size: 14px;
    padding: 6px;
    text-align: center;
}
.print .line h1, .print .line .collum
{
    font-size: 10px;
    width: 100px;
    height: auto!important;
}
.print .collum2{
    width: 50px !important;
}
.print .line h1{
    height: 40px;
    text-align: center;
}

@keyframes loadingDots {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
    100% {
        content: '.';
    }
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 499px) {
    .conteiner h1{
        margin-bottom: 0;
        margin-top: 16px;
    }
    .avatar{
        right: 10px;
    }
    .conteiner h2{
        font-size: 16px;
        padding: 6px;
    }
    .boxCheckIA{
        padding-left: 6px;
    }
}