.card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    background-color: var(--white);
    border: 2px solid var(--white);
    margin: 10px;
    width: 300px;
    height: 355px;
    overflow: hidden;

}
.card h1{
    font-size: 16px;
}
.card h5{
    font-weight: 300;
}
.banner{
    object-fit: cover;
}
.boxData {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.card span {
    background-color: var(--verde);
    text-align: right;
}
.card p{
    text-align: justify;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    padding: 6px;
    text-align: justify;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: clip;
}
.boxLocation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 6px;
}
.svg{
    margin-right: 6px;
}