.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: var(--widthLarge);
    max-width: var(--widthLarge);
    min-width: var(--minWidth);
}
.conteiner p{
    text-align: justify
}

.conteinerSections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    max-width: var(--widthLarge);
    min-width: var(--minWidth);
    border: 2px solid var(--cinza);
    padding: 6px;
}
.conteinerSections p {
    text-align: justify;
    padding: 6px;
}
.title{
    background-color: var(--azul-claro);
    height: 100px;
    color: var(--white);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    padding: 14px;
    width: 100%;
    max-width: var(--widthLarge);
    min-width: var(--minWidth);
}
.paragraph{
    text-align: justify;
    width: 100%;
}
.image{
    margin: 0 auto;
    object-fit: contain;
}
.sectionsBtn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    max-width: var(--widthLarge);
    min-width: var(--minWidth);
}
.subTitle{
    padding: 3px;
    font-size: 18px;
}
.active{
    border: 2px solid var(--cinza);
    border-bottom: 2px solid var(--white);
}
.disable{
    background-color: var(--cinza);
}
.conteinerChefia{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.cardChefia{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 6px;
    margin: 6px;
    width: 300px;
    height: 340px;
    -webkit-box-shadow: 2px 6px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 14px 0px rgba(0,0,0,0.75);
}
@media (max-width: 991px) {
    .conteiner{
        flex-direction: column;
        align-items: center;
    }
    .conteinerSections div{
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
    }
    .title{
        font-size: 28px;
    }
    .subTitle{
        font-size: 16px;
    }
    .conteiner div{
        width: 90vw;
    }
    .subConteiner img, .conteinerSections img{
        width: 100%;
    }
}