.conteiner{
    width: 100%;
}

.margin img {
    margin: 10px;
}

.flexCollCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRowWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flexRowTopWrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.fullWidth{
    width: 100%;
}
.width300{
    width: 300px;
}
.margin10{
    margin: 10px;
}
/* 
@media (max-width: 499px) {
    .conteiner{}
} */