.conteiner{
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    animation: fadeIn 0.8s linear forwards;
}
.conteiner h2{
    font-weight: 400;
    font-size: 12px;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.line{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 380px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.line h1{
    font-size: 14px;
    padding: 6px;
    text-align: center;
}
.collum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    font-size: 12px;
    text-align: justify;
    border: 1px solid;
    margin: 3px;
    padding: 2px;
}
.collum svg{
    vertical-align: middle;
}
.collum2, .collum3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    min-width: 380px;
    font-size: 12px;
    text-align: justify;
    border: 1px solid;
    margin: 3px;
    padding: 2px;
}
.collum3{
    width: auto;
    min-width: 200px;
    max-width: 420px;
}
.boxRotas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
    text-align: justify;
    border: 1px solid;
    margin: 3px;
}
.subBoxRotas{
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 4px;
}
.subBoxRotas span {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    max-width: 120px;
    height: 100%;
    border: 1px solid var(--verde);
    margin: 2px;
    padding: 3px;
}
.line textarea, .line select, .line input{
    padding: 6px;
    background-color: var(--white);
    border: none;
    width: 98%;
    min-height: 40px;
    resize: vertical;
    font-weight: 300;
}
.closeBtn{
    position: absolute; 
    right: 40px; 
    top: 10px;
    width: 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    z-index: 1000;
}
.closeBtn:hover{
    cursor: pointer;
    background-color: var(--verde);
}
.btnAddAtividade{
    margin-left: 5px;
}
.btnAddAtividade:hover, .btnRemAtividade:hover{
    cursor: pointer;
}
.btnAddAtividade:active, .btnRemAtividade:active{
    padding: 4px;
}
.borderGreen{
    border: 4px solid var(--verde);
}
.bgGreen{
    background-color: var(--verde);
    margin-top: 20px;
    padding-left: 10px;
}
.btnRemAtividade path{
    color: red;
}
.btnAddAtividade path{
    color: blue;
}
.borderBottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--dark);
    line-height: 27px;
    height: 100%;
    min-height: 27px;
    padding: 6px;
    text-align: center !important;
}
.width100{
    width: 100px;
}
.width120{
    width: 120px;
}
.width260{
    width: 260px;
}
.fontSmall{
    font-size: 12px !important;
}
.margin0{
    margin-bottom: 0;
}
.textAlingCenter{
    text-align: center;
}
.boxTags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    font-size: 14px;
    height: auto;
    width: auto;
    max-width: 100px;
    margin: 3px;
    font-size: 10px;
}
.boxTags button {
    margin-left: 4px;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 12px;
}
.boxCheck{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.boxCheck input{
    min-height: 24px;
}
.boxCheck span{
    text-wrap: nowrap;
    margin-right: 20px;
    margin-left: 2px;
}
.noScroll {
    overflow: hidden;
}
.print div h1{
    font-size: 10px;
}
.print .collum{
    width: 100px;
    margin: 1px;
}
.print .width120{
    width: 80px;
}
.print .width260{
    width: 180px;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 499px) {
    .conteiner h1{
        font-size: 16px;
    }
    .collum2 textarea{
        min-width: 96%;
    }
    .collum h1, .collum2 h1, .collum3 h1{
        font-size: 14px;
    }
}

/* @media print{
    .collum, .collum2, .collum3{
        page-break-before: always;
    }
} */