.conteiner{ 
    position: relative;
    display: flex;
    flex: content;
    flex-direction: column; 
    justify-content: flex-start;
    width: 100%;
    margin-top: 6px;
    padding: 20px;
    overflow: hidden;
}
.conteiner svg{
    position: absolute;
    right: 80px;
    top: 12px;
    cursor: pointer;
    transition: 0.5s;
}
.conteiner svg:hover{
    transform: scale(1.1);
}
.conteiner svg:hover path{
    fill: var(--verde);
}
.conteiner svg:active{
    transform: scale(0.9);
} 
.conteiner svg:active path{
    fill: var(--blue);
}
.subConteiner{ 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid var(--dark);
    padding: 3px;
    margin: 3px;
}
.subConteiner span{
    font-size: 14px;
    font-weight: 700;
    text-wrap: noWrap;
    border: none;
    margin-right: 3px;
    height: 100%;
}
.subConteiner input{
    border: none;
    font-size: 14px;
    height: 100%;
    width: 100%;
}
.subConteiner textarea{
    min-height: auto !important;
    border: none;
    width: 100%;
    font-size: 14px;
    height: 100%;
}

.map{
    position: relative;
    height: 500px;
}
