.subConteiner{
    margin: 20px 0px;
    width: 100%;
    padding: 0px 20px !important;
}
.title{
    background-color: var(--azul-claro);
    height: 80px;
    color: var(--white);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    padding: 14px;
    width: 100%;
    max-width: var(--widthLarge);
    min-width: var(--minWidth);
}
.paragraph{
    text-align: justify;
    width: 100%;
}
.paragraph a {
    text-decoration: underline;
}
.conteinerImg{
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}
.image{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.boxLocation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 2px var(--green) solid;
}
.svg{
    margin-right: 6px;
}
.dataLocal{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}
.dataLocal h4{
    font-size: 12px;
    font-weight: 600;
    text-wrap: nowrap;
    margin-right: 10px;
}
@media (max-width: 650px){
    .title{
        font-size: 5vw;
        height: auto !important;
        padding: 20px;
    }
}