.nobreak {
    break-inside: avoid; /* Impede a quebra dentro do elemento */
    page-break-inside: avoid; /* Alternativa para navegadores mais antigos */
}

@media print {
    /* Evita que elementos sejam cortados entre páginas */
    .nobreak {
      break-inside: avoid; /* Impede a quebra dentro do elemento */
      page-break-inside: avoid; /* Alternativa para navegadores mais antigos */
    }
  }
  