.page{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    padding: 10px;
}

@media print {
    .page{
        margin: 0;
    }
    @page {
        size: A4;
        margin: 1.3cm;
        size: portrait;
    }
    .noPrint {
        display: none !important;
    }
}