.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100vw;
    min-width: var(--minWidth);
}
.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
.content{
    border: 1px solid var(--cinza-escuro);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content:hover{
    cursor: pointer;
}
.content p{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content h1{
    width: 90%;
    font-size: 18px;
    text-align: center;

}

@media (max-width: 500px){
    .conteiner{
        width: 96%;
    }
    .content{
        height: auto;
    }
    .content img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }
}