.conteiner {
    width: 100vw;
    max-width: 1200px;;
}
.subConteiner{
    display: flex;
    flex-direction: column;
    width: 330px;
}
.boxInput{
    position: relative;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
}
.boxInput label{
    line-height: 20px;
}
.boxInput:hover{
    cursor: pointer;
    background-color: var(--blue);
}
.boxInput input {
    margin: 6px 30px;
}
.boxInput input[type="radio"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%; /* Deixa redondo */
    outline: none;
    cursor: pointer;
    background-color: #f0f0f0; /* Cor de fundo padrão */
    transition: background-color 0.3s ease;
}
.boxInput input[type="radio"]:checked {
    background-color: var(--verde); /* Cor do fundo quando selecionado */
    border-color: var(--verde); /* Cor da borda */
}

.boxButtom{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.boxButtom svg{    
    width: 50%;
    min-width: 10%;
    max-width: 50%;
    margin-top: 30px;
}
.boxButtom svg:hover{
    cursor: pointer;
}
.boxButtom svg:active{
    padding: 4px;
}
.boxBtnNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.boxBtnNav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: var(--blue);
    border-radius: 50%;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 0 6px;
    transition: 0.2s;
}
.boxBtnNav div:hover{
    cursor: pointer;
    scale: 1.3;
}
.boxBtnNav div:active{
    scale: 1.2;
}
.btns{
    display: flex;
    align-items: center;
}
.btnRemAtividade{
    position: absolute;
    right: 3px;
}
.btnRemAtividade:hover{
    cursor: pointer;
}
.btnRemAtividade:active{
    padding: 4px;
}

.btnRemAtividade path{
    color: red;
}