.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    min-width: var(--minWidth);
    max-width: var(--widthLarge);
}
.subConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    width: 100%
}
.boxInputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.boxInput{
    display: flex;
    flex-direction: column;
}
.boxTextArea{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title{
    background-color: var(--azul-claro);
    height: 80px;
    color: var(--white);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    padding: 14px;
    width: 100%;
    max-width: var(--widthLarge);
    min-width: var(--minWidth);
}
.subConteiner label, .subConteiner input, .subConteiner select, .subConteiner button{
    width: 100vw;
    max-width: 360px;
    margin: 10px;
    text-align: center;
    height: 30px;
}
.subConteiner select{
    background-color: var(--white);
}
.subConteiner label{
    height: auto;
    margin: auto;
}
.subConteiner button{
    height: 40px;
    background-color: var(--verde);
    color: var(--white);
    font-weight: 600;
}
.subConteiner button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.subConteiner ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}
.boxTextArea textarea{
    width: 100%;
    min-width: 360px;
    margin: 10px;
    text-align: left;
    height: 90px;
}
.inputFlexTop{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-start;
}
.inputFlexTop label{
    margin: 0;
}
.cardActions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 140px;
    background-color: var(--verde);
}
.height400{
    height: 300px;
}
@media (max-width: 991px){
    .title{
        font-size: 24px;
    }
    .subTitle{
        margin-left: 20px;
    }
    .paragraph{
        padding: 20px;
    }
    .recuo{
        padding-left: 0px;
        margin-left: 10px;
    }
}