.conteiner{
    height: 300px;
    width: var(--widthLarge);
}

.flesRowCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flesRowSpace{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flexCollTop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.flexCollLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}