.conteiner{
    position: relative;
    margin-bottom: 50px;
}

.flexRowCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flexRowSpace{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flexCollTop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.flexCollLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.fullWidth {
    width: 100vw;
}
.maxWidth{
    width: 100vw;
    min-width: 400px;
    max-width: var(--widthLarge) !important;
}
.colorGrennDark{
    background-color: var(--sejaescoteiro);
}
.margin0{
    margin: 0;
}