@import url('https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&display=swap');

:root {
  --verde: #9eb83b;
  --green: #28a745;
  --teal: #20c997;
  --success: #28a745;
  --turquesa-ea: #47a8a5;
  --amarelo-ea: #f2ce19;
  --azul: #2c77f6;
  --azul-claro: #5793ce;
  --azul-escuro: #2c4678;
  --cinza: #eee;
  --cinza-escuro: #d7d7d8;
  --verde: #9eb83b;
  --turquesa-ea: #47a8a5;
  --sejaescoteiro: #3B401C;
  --nos-amarelo: #ffff00;
  --yellow: #ffc107;
  --amarelo-ea: #f2ce19;
  --orange: #fd7e14;
  --warning: #ffc107;
  --nos-roxo: #800080;
  --grena: #831d1c;
  --grena-dark: #611f1f;
  --light-blue: #58b4e2;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --info: #17a2b8;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --minWidth: 380px;
  --widthLarge: 1000px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family-sans-serif);
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--dark);
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* custom classes */
.minHeight{
  min-height: 30vh;
}
.flexRowCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRowTop{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flexRowTopWrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.flexRowButton{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}
.flexCollTop{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flexCollSpace{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flexCollBotton{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.flexCollCenter{
  display: flex;
  flex-direction: column;
  width: 300p;
  justify-content: center;
  align-items: center;
}
.flexRowSpaceBetween{
  display: flex;
  flex-direction: row;
  width: 300p;
  justify-content: space-between;
  align-items: center;
}
.uperCase {
  text-transform: uppercase !important;
}
.latterSpacing {
  letter-spacing: 5px;
}
.margin5{
  margin: 5px;
}
.margin10{
  margin: 10px;
}
.paddin10{
  padding: 10px;
}
.porcent30{
  width: 30%;
}
.porcent40{
  width: 40%;
}
.porcent50{
  width: 50%;
}
.porcent60{
  width: 60%;
}
.porcent70{
  width: 70%;
}
.porcent100{
  width: 100%;
}
.cursorPointer{
  cursor: pointer;
  text-decoration: none;
}
.textLarge{
  font-size: 46px;
  font-weight: 400;
  padding: 10px;
}
.textMedium{
  font-size: 32px;
}
.textMediumFit{
  font-size: 22px;
}
.textSmall{
  font-size: 12px;
}
.colorWhite{
  color: var(--white);
}
.boxShadow{
  -webkit-box-shadow: 2px 6px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 6px 14px 0px rgba(0,0,0,0.75);
}
.link{
  cursor: pointer;
  text-decoration: underline var(--blue);
}

/* recaptcha */
.grecaptcha-badge{
  position: absolute !important;
  bottom: 14px !important;
  right: -186px !important;
}
@keyframes slide {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

@media (max-width: 500px){
  .textResponsive{
      font-size: 9vw !important;
  }
  .destaquesImg{
    width: 96%;
  }
}
@media print{
  body, .grecaptcha-badge{
    display: none !important;
  }
}