.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    min-width: var(--minWidth);
    max-width: var(--widthLarge);
}
.title{
    background-color: var(--azul-claro);
    color: var(--white);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    padding: 14px;
    width: 100%;
    max-width: var(--widthLarge);
    min-width: var(--minWidth);
}
.subTitle{
    font-weight: 500;
    font-size: 26px;
}
.paragraph{
    text-align: justify;
    width: 100%;
    font-weight: 300px;
}
.image{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.image2{
    margin: 0 auto;
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.boxLinks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: first baseline;
    margin: 10px;
    list-style: none;
    gap: 20px;
}
.boxLinks li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2px;
    margin: 2px;
}

@media (max-width: 991px){
    .subTitle{
        margin-left: 20px;
    }
    .paragraph{
        padding: 20px;
    }
    .recuo{
        padding-left: 0px;
        margin-left: 10px;
    }
}
@media (max-width:500px){
    .title{
        font-size: 24px;
    }
}