.conteiner{
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    animation: fadeIn 0.8s linear forwards;
    break-before: auto;
    break-inside: avoid;
}
.boxHead{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-height: 50px;
}
.resultado{
    display: inline-block;
    width: 220px;
    display: flex; 
}
.conteiner h2, .conteiner h3, .resultado{
    padding-left: 6px;
}
.resultado span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark); 
    width: 100px;
    height: 50px;
    padding: 6px;
}

.matriz{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 480px;
    padding: 6px;
}
.rotuloConsequencia, .valor{
    width: 70px;
    height: 70px;
    border: 1px solid var(--blue);
    margin: 1px;
}

.rotuloProbabilidade{
    font-size: 14px;
    border: 1px solid var(--blue);
    margin: 1px;
}

.rotuloConsequencia{
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rotuloProbabilidade{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.valor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.width100{
    width: 100px;
    text-align: left;
}
.conteiner p{
    width: 100%;
    padding: 10px;
    text-align: justify;
}
.bgGreen{
    background-color: var(--verde);
    margin-top: 20px;
    padding-left: 10px;
}
.risco{
    font-weight: 900;
    box-shadow: 0px 0px 33px 0px rgb(5, 1, 42) inset;
    -webkit-box-shadow: 0px 0px 33px 0px rgb(5, 1, 42) inset;
    -moz-box-shadow: 0px 0px 33px 0px rgb(5, 1, 42) inset;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}