.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 380px;
    min-width: var(--widthLarge);
    overflow: hidden;
}
.video{
    object-fit: cover;
}
.filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--azul);
    opacity: 30%;
}
.rotulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title, .subTitle, .paragraph  {
    width: 100%;
    text-align: center;
}
.paragraph {
    width: 80%;
}

@media (max-width: 500px) {
    .title{
        font-size: 22px;
        font-weight: 600;
    }
    .subTitle{
        font-size: 18px;
    }
    .paragraph{
        font-size: 16px;
        padding: 20px;
    }
}