.conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-width: var(--minWidth);
  max-width: var(--widthLarge);
  overflow: hidden;
}

/* Container do carrossel */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 100%;
}

.carouselItem {
  flex: 0 0 100%;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselItem img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  background-color: #000; /* opcional, fundo atrás da imagem */
}

/* Navegação */
.navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 16px;
}

.navButton {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.5;
}

.navButton:hover {
  background-color: #555;
  color: #fff;
}

/* responsividade */
@media (max-width: 450px) {
  .carouselItem img {
    max-height: 250px;
  }
}
