.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    min-width: var(--minWidth);
    max-width: var(--widthLarge);
}
.subConteiner{
    margin: 20px 0px;
    width: 100%
}
.title{
    background-color: var(--azul-claro);
    color: var(--white);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    padding: 14px;
    width: 100%;
    max-width: var(--widthLarge);
    min-width: var(--minWidth);
}
.paragraph{
    text-align: justify;
    width: 100%;
    font-weight: 300;
    padding: 10px;
}
.conteiner form{
    max-width: var(--widthLarge);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.conteiner form textarea, .conteiner form input{
    height: 30px;
} 
.boxInput{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 300px;
    margin: 6px;
}
.boxEndereco{
    display: flex;
    flex-direction: column
}
.enderecoConteiner{
    display: flex;
    flex-direction: row;
}
.enderecoConteiner div{
    width: 300px;
}
.boxCheck{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.boxCheck input{
    margin: 3px;
}

@media (max-width: 621px) {
    .conteiner form{
        justify-content: center;
    }
    .enderecoConteiner{
        flex-direction: column;
    }
}