.conteiner{
    position: absolute;
    right: 170px;
    top: 210px;
    width: auto;
    max-width: 200px;
    background-color: var(--verde);
    border-radius: 10px;
    padding: 5px;
    word-break: break-word;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
    border: 2px solid var(--blue);
}

.startTaping::after {
    content: "|";
    font-size: 14px;
    animation: blink 0.5s infinite;
}
.stopTaping::after {
    content: "";
    font-size: 14px;
    animation: blink 0.5s infinite step-end
}

.conteiner:hover{
    cursor: pointer;
}
.slideIn{
    animation: slideIn 0.2s linear forwards;
}
.slideOut{
    animation: slidOut 0.2s linear forwards;
}

.center.slideIn{
    animation: slideInCenter 0.2s linear forwards;

}
.center.slideOut{
    animation: slidOutCenter 0.2s linear forwards;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes slideIn {
    0%{
        right: 80px;
        top: 20px;
        width: 10px;
        height: 10px;
    }
    100%{
        right: 100px;
        top: -30px;
        width: 200px;
        height: auto;
    }
}
@keyframes slideInCenter {
    0%{
        right: 10px;
        top: 20px;
        width: 10px;
        height: 10px;
    }
    100%{
        right: -210px;
        top: -50px;
        width: 200px;
        height: auto;
    }
}

@keyframes slidOut {
    0%{
        right: 100px;
        top: -30px;
        width: 200px;
    }
    100%{
        right: 80px;
        top: 20px;
        width: 10px;
        height: 10px;
    }
}
@keyframes slidOutCenter {
    0%{
        right: -210px;
        top: -50px;
        width: 200px;
    }
    100%{
        right: 10px;
        top: 20px;
        width: 10px;
        height: 10px;
    }
}