.conteiner{
    position: relative;
}
.boxAvatar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right:10px;
    top: -50px;
    width: 100px;
    height: 100px;
    z-index: 1;
    background-color: var(--blue);
    border: none;
    border-radius: 50%;
}
.boxAvatar img{
    border: none;
    border-radius: 50%;
}
.center {
    right: 0px;
    top:  -150px;
}