.conteiner{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
}
.boxAvatar{
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    z-index: 1;
    background-color: var(--blue);
    border: 2px solid;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.boxAvatar img{
    border: none;
    border-radius: 50%;
}
.center {
    left: 37%;
    top:  -150px;
}
.left {
    left: 16.5%;
    top: -92px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}