.conteiner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    max-width: 100%;
}
.logo{
    object-fit: contain;
    width: 100%;
}
.spam01{
    font-size: 1rem;
    text-wrap: wrap;
    text-align: center;
    color: var(--azul-escuro);
    font-weight: 600
}

.icon{
    position: absolute; 
    right: 0; 
    top: 60%;
    transform: translate(-50%, 0%);
    background-color: var(--white);
    border-radius: 50%;
    padding: 3
  }
